[Unit]
Description=Viatom BLE Monitor Service
After=syslog.target network-online.target bluetooth.target

[Service]
Type=simple
ExecStart=/usr/local/bin/viatom-ble --address AA:BB:CC:11:22:33 --logfile /var/log/viatom-ble.log
User=pi
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target

